caption {
	font-weight:bold;
	color:red;
}

H2 {
	font-family:"Lobster";
}

.picture {
	
	background-image: url("http://d817ypd61vbww.cloudfront.net/sites/default/files/tile/image/original_441.jpg");
	background-position:center top;
	background-repeat:no-repeat;
	background-size:300px;
	height:300px;

}

a {
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	background-color:lemonchiffon;
	
}