.container{
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px auto;
  max-width: 300px;
  padding: 10px;
  text-align:center;
  background-color:PowderBlue;

}

.container h2{
	font-family:Impact, Charcoal, sans-serif;
	height:40px;
}

.button{
	height:50px;
	width: 120px;
	margin:10px;
	padding:10px;
	font-size:15px;
	
	
}


table th{
	text-align:center;
	font-size:30px;
	text-decoration:underline;
	border:none;
	font-family:Impact, Charcoal, sans-serif;
}

td{
	border:2px solid black;
	width:250px;
	height:70px;
	text-align:left;
	font-family:cursive;
}

tr:nth-child(2){
	background-color:lemonchiffon;
}






