caption {
	font-weight:bold;
	color:red;
}

H2 {
	font-family:"Lobster";
}


.img-circle{
	width:100%;
}

a {
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	background-color:lemonchiffon;
	
}

td{
	font-style:italic;

	
}

.table tr:nth-child(even){
	background-color:lemonchiffon;
	
}

.table tr:nth-child(odd){
	background-color:red;
}

th{
	background-color:grey;
				
}