header h1{
	font-family:"Lakkireddy";
	
}

header table{
	font-size:16px;
	font-family:cursive;
	
}

footer{
	position:relative;
	bottom:0;
	right:0;
	left:0;
	font-family:cursive;
	text-align:center;
	padding: 1rem;
	width: 100%;
	border-top-style:solid;
	border-top-color:black;
}

@font-face{
	font-family:"Lakkireddy";
	font-style:"normal";
	font-weight:400;
	src: url("LakkiReddy-Regular.ttf");
}

a{
	font-weight:normal;
}

a:visited{
	color:red;
}

a:hover{
	font-weight:bold;
	
}

a:active{
	text-decoration:none;
}