header{
	font-family:cursive
	
}

header table{
	font-size:16px;
	
}

footer{
	position:relative;
	bottom:0;
	right:0;
	left:0;
	font-family:cursive;
	text-align:center;
	padding: 1rem;
	width: 100%;
	border-top-style:solid;
	border-top-color:black;
}
